$filters: grayscale(100%),
sepia(70%),
saturate(90%),
contrast(80%);

$imgs: 'praha1.jfif',
'praha2.jfif',
'praha3.jfif',
'praha4.jpg';

$background:yellow,
green,
pink,
violet;

html,
body {
    margin: 0 auto;
    width: 1300px;
    height: 600px;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;

    
    @media (max-width: 1084px) {
        flex-direction: column;
        max-width: 1084px;
        
    }
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex: 1 1 208px;
    transition: linear 0.5s;
    overflow: hidden;
    
    p {
        color: black;
        font-weight: bolder;
        font-size: 1px;
        margin-bottom: -200px;
        transition: ease-in 0.5s;
    }

    &:hover p {
        transform: translateY(-250px);
        font-size: 70px;
    }



    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            background-image: url("#{nth($imgs, $i)}");
            background-color: nth($background, $i);            background-size: 100%;
            filter: nth($filters, $i);

        }
    }

    &:hover {
        position: relative;
        flex-grow: 5;
        flex-shrink: 1;
        flex-basis: 1300px;
        transform: scaleX(1);
    }

    &:not(:hover) {
        flex-grow: 1;
        flex-shrink: 5;
        filter: blur(100%);
    }


}